<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>CMPUT 401 Assignment 3</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="style.css"> -->

</head>
<style>
    P, H1, H3 {
        text-align: center;
    }

    #section1 {
        color: #1E88E5;
    }

    #section2 {
        color: #009c5d;
    }

    #section3 {
        color: #4f2cff;
    }

    #section4 {
        color: #aa004f;
    }
</style>

<body>
{# Section headers and sectioning taken from https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_scrollspy&stacked=h on October 5, 2018 #}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Assignment 3</a>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 id="name">Name</h1>
        <h3 id="contact">Contact</h3>
    </div>
</div>

<div id="section1" class="container-fluid">
    <h1>About</h1>
    <p id="about">About</p>
</div>
<div id="section2" class="container-fluid">
    <h1>Education</h1>
    <p id="education">Education</p>
</div>
<div id="section3" class="container-fluid">
    <h1>Skills</h1>
    <p id="skills">Skills</p>
</div>
<div id="section4" class="container-fluid">
    <h1>Work</h1>
    <p id="work">Work</p>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
    $(window).on('load', function () {
        // change the URL to your server URL here
        $.getJSON("http://162.246.157.145:8000/api/person/1/", function (data) {
            $("#name").text(data.data.attributes.name);
            $("#about").text(data.data.attributes.about);
            $("#education").text(data.data.attributes.education);
            $("#skills").text(data.data.attributes.skills);
            $("#work").text(data.data.attributes.work);
            $("#contact").text(data.data.attributes.contact);


            // Complete consuming the API data and updating the work and contact sections
            // HINT: look at the above lines, jquery documentation, see what is the object returned


        });
    });
</script>
</body>
</html>
